<!DOCTYPE html>
<head>
    <script type="text/javascript" src="/static/js/lib/jquery.min.js"></script>
</head>

<body>
    <div id="my_camera"></div>
	
	<!-- First, include the Webcam.js JavaScript Library -->
	<script type="text/javascript" src="/static/js/lib/webcam.min.js"></script>
	
	<!-- Configure a few settings and attach camera -->
	<script language="JavaScript">
		Webcam.set({
			width: 320,
			height: 240,
			image_format: 'jpeg',
			jpeg_quality: 90
		});
		Webcam.attach( '#my_camera' );
    </script>
    
    <br/>
    <input type=button value="Login With Face" onClick="take_snapshot()">
    <p>If login is successful, the background will be green</p>
    <p>If login fails, the background will be red</p>

    <h2>Preview Image</h2>
    <div id="preview"></div>

    <!-- Code to handle taking the snapshot and displaying it locally -->
	<script language="JavaScript">
		// preload shutter audio clip
        var shutter = new Audio();
        var imge_uri;
        $SERVER_URI = 'http://localhost:7000';

		shutter.autoplay = false;
		shutter.src = navigator.userAgent.match(/Firefox/) ? '/static/mp3/shutter.ogg' : '/static/mp3/shutter.mp3';
		
		function take_snapshot() {
			// play sound effect
			shutter.play();
			
			// take snapshot and get image data
			Webcam.snap( function(data_uri) {
                document.getElementById('preview').innerHTML = 
                '<img src =" '+ data_uri +' "/>';

                data = {
                    'image_64' : data_uri
                }
                var result_color = 0;

                $.ajax({
                    type: "POST",
                    url: $SERVER_URI + '/login/with/image',
                    contentType: 'application/json;charset=UTF-8',
                    dataType: 'json',
                    data: JSON.stringify(data),
                    success: function(response) {
                        result = response.result;
                        result.forEach(val => {
                            if (val.result == "True") {
                                result_color = 1;
                            }
                        }); 
                        if (result_color) {
                            console.log("Login success");
                            $('body').css("background-color", "green");
                        } else {
                            console.log("Login fail!");
                            $('body').css("background-color", "red");
                        }
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });
				
			});
		}
    </script>
    
</body>


</html>